{
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "arrowParens": "always",
    "jsxSingleQuote": true,
    "printWidth": 120,
    "singleQuote": true,
    "singleAttributePerLine": false,
    "bracketSpacing": true,
    "bracketSameLine": true,
    "quoteProps": "as-needed",
    "trailingComma": "none"
}